.chess-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.chess-wrapper > div > img {
    height: 379px;
    width: 685px;
    border-radius: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chess-wrapper > div {
    display: inline-block;
}

/* .chess-project-txt {
    height: 436px;
} */