.portrait-wrapper {
    background-color: #13293d;
    display: inline-block;
}

.portrait-wrapper img {
    height: 325px;
    width: 325px;
    margin: 3em 8em 3em 12em;
    border-radius: 325px;
}

@media screen and (min-width: 1160px) and (max-width:1262px) {
    .portrait-wrapper img {
        margin: 3em 4em 3em 0;
    }
}

@media screen and (min-width: 1090px) and (max-width:1159px) {
    .portrait-wrapper img {
    margin: 3em 2em 3em 0;
    }
}

@media screen and (min-width: 840px) and (max-width:1089px) {
    .portrait-wrapper {
        display: block;
    }

    .portrait-wrapper img {
        display: block;
        margin: 2em 0 1em 0;
    }
}

@media screen and (max-width: 839px) {
    .portrait-wrapper {
        display: block;
    }
    
    .portrait-wrapper img {
        height: 200px;
        width: 200px;
        border-radius: 200px;
        display: block;
        margin: 2em 0 1em 0;
  }
}