.portrait-wrapper {
    background-color: #13293d;
    display: inline-block;
}

.portrait-wrapper img {
    height: 350px;
    width: 350px;
    margin: 3em 10em 3em 12em;
    border-radius: 350px;
}