body {
  margin: 0;
  background-color: #247ba0;
  font-size: 62.5%;
  color: #E8F1F2;
}

html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  justify-content: center;
}

.border {
  border: 2px solid black;
}

.jmp-pnt {
  padding-top: 3.47em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.65rem;
}

p {
  font-size: .85rem;
}

li {
  font-size: .85rem;
}