body {
  margin: 0;
  background-color: #247ba0;
  font-size: 62.5%;
  color: #E8F1F2;
}

html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

.border {
  border: 2px solid black;
}
